body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.info-balance {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 2rem;
  margin-right: 10rem;
}

#balance {
  margin-right: 1rem;
}

#add-balance {
  padding: 4px 5px;
  background-color: #c9c8c8;
  cursor: pointer;
  border-radius: 5px;
}

#reset-all {
  margin-left: 1rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.info {
  position: relative;
  margin: 5rem 0 2rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.message-error {
  font-size: 1.3rem;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: lighter;
}

.wrapper-number {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3rem;
  background-color: #5a5a5a;
  padding: 1rem;
}

.wrapper-number span {
  font-size: 5rem;
  padding: 0 0.8rem;
  background-color: #e0e0e0;
  color: rgb(36, 36, 36);
}

#button-generate {
  font-size: 1.2rem;
  background-color: #0f88da;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

#button-generate:hover {
  background-color: #da0f0f;
  color: black;
  transition-duration: 200ms;
}

#button-reset {
  font-size: 1.2rem;
  background-color: #da3e0f;
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem 0;
}

/* modal */

dialog {
  border: none;
  border-radius: 5px;
  background-color: #dfdfdf;
  position: relative;
}

dialog [data-close-modal] {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 10px 0 0;
  cursor: pointer;
}

dialog span {
  display: block;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

dialog input {
  margin-bottom: 1rem;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

.add-button-wrapper {
  width: 100%;
  display: flex;
}

#add-button {
  margin: auto;
  background-color: #0f88da;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
